:root {
    --fancy-font: 'Domine', serif;
    --normal-font: 'Barlow Semi Condensed', sans-serif;

    --color-text: rgb(0, 0, 0);
    --color-primary: #b71c1c;

    --color-white: #fff;
    --color-black: #000;

    --gap: 5rem;
}