:root {
    --fancy-font: 'Domine', serif;
    --normal-font: 'Barlow Semi Condensed', sans-serif;

    --color-text: rgb(0, 0, 0);
    --color-primary: #e53935;
    --color-primary-light: #e84d49;
    --color-primary-dark: #ce3330;

    --color-white: #fff;
    --color-black: #000;

    --color-text: #111;

    --color-grey: #eee;

    --gap: 5rem;
}