.btn-text {
    &:link, 
    &:visited, 
    &:active {
        font-size: 1.6rem;
        text-decoration: none;
        color: #000;
        display: inline-block;
        padding: .4rem 0;
        border-bottom: 1px solid #000;
        transition: all .2s;
    }
}

.btn--primary {
    font-size: 2rem;
    padding: .8rem 2.4rem; 

    &:link, 
    &:visited, 
    &:active {
        color: var(--color-white);
        background-color: var(--color-primary-dark);
    }
}