body {
    font-family: var(--normal-font);
    font-weight: 400;
    font-size: 1.8rem;
    color: var(--color-text);
}

a {
    &:link, 
    &:visited, 
    &:active {
        color: var(--color-black);
        text-decoration: none;
        transition: all .2s;
    }

    &:hover {
        color: var(--color-primary);
    }
}

.heading-primary {
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: 700;
}

.heading-secondary {
    font-size: 4rem;
    line-height: 1.1;
    letter-spacing: -.5px;
    font-weight: 600;
}

.heading-teritiary {
    font-size: 2.6rem;
    font-weight: 500;
}

.text-primary {
    font-size: 2rem;
    font-family: var(--fancy-font);
    line-height: 1.6;
    margin-bottom: 1.5rem;
}